.account-page {
    .profile-item {
        display: none;
        &.active {
            display: block;
        }
    }
}

.select2-container--default {
    width: 100%;
    .select2-selection--single {
        height: 40px !important;
        padding-top: 5px;
    }
    .select2-selection__arrow {
        margin-top: 5px;
    }
}
