.checkout-page {
    .bank-copy {
        cursor: pointer;
        &:hover {
            color: red;
        }
        &.fa-solid {
            color: red;
        }
    }
    .countdown {
        font-size: 1.5rem;
        > * {
            padding: 5px;
            background: red;
            color: #fff;
            border-radius: 5px;
        }
    }
}
