@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none !important;
}
img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
}
p,
ul {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
@keyframes zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
